  <table class="table table-striped">
    <thead>
      <tr>
  
        <th>shop email</th>
        <th>action</th>

      </tr>
    </thead>
    <tbody>
      <% @users.each do |owner| %>
        <tr>
          <td><%= owner.email %></td>
          <td><%= link_to "show",new_customer_product_path(owner) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>