<table class="table table-striped">
  <thead>
    <tr>
     
      <th>Product Name</th>
      <th>Total Qty</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <%if @current_day.downcase == result.day%>

        
        <td><%= Product.find(result.product_id).name %></td>
        <td><%= result.total_qty %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
